* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    box-shadow: 0 1.2rem 0 -1rem rgba(0, 0, 0, 0.25);
    width: 100%;
    position: fixed;
    z-index: 998;
    height: 100px;
    top: 0;
    background-color: $white;

    nav {
        display: flex;
        align-items: center;

        .logo {
            width: 200px;
            margin-right: auto;
            margin-left: 10px;
            margin-bottom: 10px;

        }
    }
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    margin-top: 100px;


    .listado-de-pokemon {
        grid-column: 1 / 2;
        grid-row: span 2;
    }

    .superior-creacion-equipo,
    .contenedor-pokedex {
        grid-column: 2;
    }

    .tu-equipo {
        font-size: 1rem;
        font-weight: 600;

    }

    .superior-creacion-equipo {
        grid-row: 1;
        box-shadow: 0 0 6rem -1rem rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        border-radius: 1rem;
        position: relative;
    }

    .encabezado {
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        top: -15px;
        margin-left: 25px;
        border: 0;
        background-color: $gray;
        padding: 5px;
        border-radius: 100vmax;
        box-shadow: 0 0 2px $black;
    }
    .encabezadoInfo{
        font-size: 1rem;
        font-weight: 600;
        position: absolute;
        top: -15px;
        margin-left: 130px;
        border: 0;
        background-color: $gray;
        padding: 5px;
        border-radius: 100vmax;
        box-shadow: 0 0 2px $black;
        // display: none;

        &.encabezadoInfoVisible{
            // display: block;
        }
    }

    .alerta {
        margin-left: auto;
        margin-right: 20px;
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 600;
        color: $white;
        background-color: $type-fighting;
        padding: 5px;
        border-radius: 100vmax;
        box-shadow: 0 0 2px $black;
        display: none;
        animation: zumbido 1s ease-in-out;

        &.alertaVisible {
            display: block;

            @keyframes zumbido {

                0%,
                100% {
                    transform: translateX(0);
                    /* Estado inicial y final: sin traslación */
                }

                25%,
                75% {
                    transform: translateX(-10px);
                    /* Traslación hacia la izquierda */
                }

                50% {
                    transform: translateX(10px);
                    /* Traslación hacia la derecha */
                }
            }
        }
    }

    .creacion-de-equipo {
        display: flex;
        justify-content: center;
        height: auto;
        min-height: 200px;

        .cartas-de-equipo {
            margin: 10px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            text-transform: uppercase;
            box-shadow: 0 0 3rem -1rem rgba(0, 0, 0.25);
            position: relative;
            
            .quitarDeEquipo{
                background-image: url(../imagenes/icon.png);
                background-size: cover;
                background-color: $type-fighting;
                height: 30px;
                width: 30px;
                border: none;
                border-radius:10px;
                position: absolute;
                top:-10px;
                right: -10px;
            }
            
            p {
                margin: 5px;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
                cursor: default;
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
    
    .contenedor-pokedex {
        grid-row: 2;
        display: grid;
        padding: 20px;
        grid-template-columns:
            repeat(auto-fit,
                minmax(200px, 1fr));
        // repeat(4, minmax(150px, 1fr)) 1fr;
        gap: 1rem;

        .carta-pokedex {
            height: auto;
            border-radius: 1 rem;
            background-color: $white;
            box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            padding: 1rem;
            position: relative;
            isolation: isolate;
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 0.3s ease;
            border-radius: 1rem;

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
            }

            .id-fondo-pokedex {
                position: absolute;
                top: 1rem;
                left: 50%;
                transform: translateX(-50%);
                font-size: 5rem;
                font-weight: 600;
                z-index: -1;
                color: $gray;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
            }

            .container-imagen-pokedex {
                display: flex;
                justify-content: center;

                img {
                    width: 100%px;
                    min-width: 10rem;
                }   
            }

            .info-pokedex {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-inline: 0.25rem;

                .container-info-pokedex {
                    display: flex;
                    align-items: center;


                    .id-pokedex {
                        width: auto;
                        margin: 1rem;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0.25rem 0.5rem;
                        background-color: $gray;
                        border-radius: 100vmax;
                    }

                    .nombre-pokedex {
                        width: auto;
                        margin: 1rem;
                        font-size: 1rem;
                        font-weight: 600;
                    }
                }

                .container-types-pokedex {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .tipos {
                        padding: 0.25rem 0.25rem;
                        border-radius: 100vmax;
                        font-weight: 600;
                        font-size: 1rem;
                        margin: 0px 10px 0px 10px;

                        &:hover {
                            box-shadow: 0 0 1rem -0.3rem rgba(0, 0, 0, 0.7);
                            cursor: default;
                        }
                    }
                }
            }
        }
    }
}

.modalInfo {
    padding: 2rem;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border: 2px solid rgba(0, 0, 0, 0.5);
    display: flex;  
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: popup 0.7s ease;
    
    @keyframes popup{
        0%{
            transform: scale(0.3) translate(-50%, -50%);
            transform-origin: center center;
        }

        50%{
            transform: scale(1.2) translate(-50%, -50%);
            
        }

        75%{
            transform: scale(0.9) translate(-50%, -50%);
            
        }

        100%{
            transform: scale(1) translate(-50%, -50%);
            
        }
    }
    .modalImagen{
        position: relative; 
        width: 200px;
        height: 200px;
        overflow: hidden;
        border:2px solid rgba(0,0,0,0.5) ;
        border-radius: 1rem;
        margin-bottom: 10px;
        background-image: url(../imagenes/fondo.jpg);
        background-size:cover;
        img{
            position: absolute; 
            top: 50%; 
            left: 50%; 
            transform-origin: center center; 
            transform: translate(-50%, -50%) scale(2); 
            border: none;
        }
    }
    .stats {
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-template-rows: 1fr, 1fr, 1fr;
        gap:0.5rem;
        border:2px solid rgba(0,0,0,0.5);
        border-radius: 1rem;
        padding-top: 1rem;
        
        .stats-arriba{
          grid-column: 1/3;
          grid-row: 1/2;
          display: flex;
          justify-content: space-between;
        }
        
        .stats-izquierda {
           grid-column: 1/2;
           grid-row: 2/3;
            display: flex;
            flex-direction: column;
            flex:1;
            border-top:2px solid rgba(160, 64, 160, 0.7);
            border-bottom: 2px solid rgba(160, 64, 160, 0.7);
            

            label:nth-child(1) {
                background-color: $type-grass;
                color: black;
                border: 0;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 2px $black;
                margin: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                margin-right: 10px;
                max-height: 50px;
                width: fit-content;
                flex-wrap:no-wrap;
            }

            label:nth-child(2) {
                background-color: $type-fire;
                color: black;
                border: 0;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 2px $black;
                margin: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                margin-right: 10px;
                max-height: 50px;
                width: fit-content;
                flex-wrap:no-wrap;
            }

            label:nth-child(3) {
                background-color: $type-ice;
                color: black;
                border: 0;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 2px $black;
                margin: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                margin-right: 10px;
                max-height: 50px;
                width: fit-content;
                flex-wrap:no-wrap;
            }
        }

        .stats-derecha {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex:1;
            grid-column: 2/3;
            grid-row: 2/3;
            border-top:2px solid rgba(160, 64, 160, 0.7);
            border-bottom: 2px solid rgba(160, 64, 160, 0.7);

            label:nth-child(1) {
                background-color: $type-grass;
                color: black;
                border: 0;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 2px $black;
                margin: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                margin-right: 10px;
                max-height: 50px;
                width: fit-content;
                 margin-left: auto;
                 flex-wrap:no-wrap;
            }

            label:nth-child(2) {
                background-color: $type-fire;
                color: black;
                border: 0;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 2px $black;
                margin: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                margin-right: 10px;
                max-height: 50px;
                width: fit-content;
                 margin-left: auto;
                 flex-wrap:no-wrap;
            }

            label:nth-child(3) {
                background-color: $type-ice;
                color: black;
                border: 0;
                padding: 10px;
                border-radius: 100vmax;
                box-shadow: 0 0 2px $black;
                margin: 0.5rem;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 0.8rem;
                margin-right: 10px;
                max-height: 50px;
                width: fit-content;
                 margin-left: auto;
                 flex-wrap:no-wrap;
            }
        }
    }

    .stats-abajo{
        display: flex;
        justify-content: space-between;
        grid-column: 1/3;
        grid-row: 3/4;

        label:nth-child(1){
            background-color: $type-fighting;
            color:$white;
            border: 0;
            padding: 10px;
            border-radius: 100vmax;
            box-shadow: 0 0 2px $black;
            margin: 0.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
            margin-right: 10px;
            max-height: 50px;
            width: fit-content;
             
             flex-wrap:no-wrap;
        }

        label:nth-child(2){
            background-color: $type-fighting;
            color:$white;
            border: 0;
            padding: 10px;
            border-radius: 100vmax;
            box-shadow: 0 0 2px $black;
            margin: 0.5rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
            margin-right: 10px;
            max-height: 50px;
            width: fit-content;
             
             flex-wrap:no-wrap;
        }
    }

    .botones{
        margin-top: 0.5rem;
        button{
            border:none;
        }
    }

    &.modalInfoVisible{
        display: block;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    display: none; 

    &.backdropVisible{
        display: block;
    }
}

